body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0; /* Resetting margin */
    padding: 0; /* Resetting padding */
    background-color: #f4f4f4;
}

#app {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #3498db;
}

p {
    color: #666;
    margin-bottom: 20px;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#outputResult {
    font-weight: bold;
    margin-top: 20px;
    color: #2ecc71;
}
footer {
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
